.answer {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}

.choiceBtn {
display:grid;
margin: 10px;
}

.container {
    color: purple;
    font-size: larger;
    font-weight: bold;

    
}
h1 {
    color: purple;
}